<div class="container">
  <h1>Weekly menu</h1>

  <!-- button to use the week menu only for signed in users -->
  <% if user_signed_in? %>
   <%= link_to "Save this week!",week_menus_path(user_id: current_user.id), method: :post, class: "btn btn-lg btn-info mt-3" %>
  <% end %>

    <% @menu.each do |recipe| %>
      <div class="card d-flex flex-row w-100" style="width: 18rem;">
        <img class="card-image" src="..." alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> <%= recipe.title %></h3>
          <p class="card-text"><%= recipe.description %></p>
          <a href="#" class="btn btn-primary">Go to the recipe</a>
        </div>
      </div>
    <% end %>
</div>

