<div class="container">
  <h1>Weekly menu</h1>

    <% @menus.each do |recipe| %>
      <div class="card d-flex flex-row w-100" style="width: 18rem;">
        <img class="card-image" src="..." alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> <%= recipe.title %></h3>
          <p class="card-text"><%= recipe.description %></p>
          <a href="#" class="btn btn-primary">Go to the recipe</a>
        </div>
      </div>
    <% end %>
</div>

