// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&family=Source+Serif+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
// Define fonts for body and headers


$body-font: 'Open Sans', sans-serif;
$headers-font: 'Josefin Sans', sans-serif;


// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


