
.faq-flex-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  margin: 30px 0px;
}

.container-recipe {
  width: 60%;
  height: 200px;
  padding: 30px 30px;
}

.container-image {
  width: 40%;
  height: 200px;
  background-color: red;

}





