// Specific CSS for your home-page
#dislike-question:hover {
    text-decoration: underline;
    cursor: pointer;
  }

.triangle {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid green;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid green;
    margin-left: -10px;
    transition: .5s ease;
}

#why-menuet {
  background-color: #184d47;
  padding-bottom: 30px;
  text-align: center;
  color:white;
  h2 {
    font-size: 35px;
  }
}

#why-menuet-reasons {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: row;

  div {
    width: 25%;
    margin-bottom: 50px;
  }
}

#why-menuet-header {
  display: flex;
  justify-content: space-around;
  h2 {
    font-size: 2rem;
    position: relative;
    background-color: #184d47;
    border-radius: 5px;
    padding: 0.8em;
    top: -1em;
    width: fit-content;
  }

}

.fas {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.search-input {
  margin-bottom: 10px;
  width: 90%;
}


/*landscape phones and smaller*/
@media (max-width: 575px) {
  .banner {
    background-size: 100%;
  }

  #text {
    width: 90%;
  }

  #inner-text {
    margin-top: 40%;
      h1 {
        font-size: 30px;
      }
  }

  #why-menuet-reasons {
    flex-direction: column;
      div {
        width: 90%;
        margin: 20px auto;
      }
  }
}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  .banner {
    background-size: 80%;
  }

  #banner-text {
    width: 90%;
  }

  #banner-inner-text {
    margin-top: 20%;
    margin-left: 40px;
  }

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {
  .banner {
    background-size: 40%;
  }
  #banner-text {
    width: 80%;
  }

  #banner-inner-text {
    margin-left: 40px;
  }
}


/*desktops and bigger*/
@media(min-width: 1026px) {
  .banner {
    background-size: 40%;
  }
  #banner-inner-text {
    margin-left: 60px;
  }
  .search-input {
    width: 60%;
  }
}

