.menu-plan {
  margin: 40px 20px;
  padding: 20px 10px;
  border: 1px solid green;
}

.menu-plan-seven {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*landscape phones and smaller*/
@media (max-width: 575px) {

  .menu-plan-seven {
    flex-direction: column;
  }

}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
