#sidebar {
  width: 300px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 30px;
  background-color: #184d47;
  padding: 20px 20px;
  height: 40vh;
  h4 {
    margin-bottom: 30px;
    color: white;
  }

}

.second-container {
  display: flex;
  justify-content: space-around;
}


/*landscape phones and smaller*/
@media (max-width: 575px) {
  #sidebar {
    display:none;
  }

  #recipe-card {
  margin-top: 10px;
  width: 140px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.recipe-card-pic {
  width: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  #sidebar {
    display:none;
  }

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
