a:hover {
  text-decoration: none;
}

#sidebar {
  width: 300px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 30px;
  background-color: #184d47;
  padding: 20px 20px;
  height: 40vh;
  // height: 80vh;
  h4 {
    margin-bottom: 30px;
    color: white;
  }
  // making sidebar sticky
  position: sticky; top: 50px;
  overflow: auto;
}

.second-container {
  display: flex;
  justify-content: space-around;
}


.underline-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/*landscape phones and smaller*/
@media (max-width: 575px) {
  #sidebar {
    display:none;
  }

  #recipe-card {
  margin-top: 10px;
  width: 140px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.recipe-card-pic {
  width: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

}

#btn-div {
  text-align: center;
}


.save {
  position: absolute;
  margin: 5px 5px;
}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  #sidebar {
    display:none;
  }

  .underline-1 {
    flex-flow: row wrap;
  }

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
