.menu-plan {
  margin: 40px 20px;
  padding: 20px 10px;
}



.graphic-element {
  width: 30px;
  background-color: green;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-left: 10px;
}

#menu-plan-seven {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}



/*landscape phones and smaller*/
@media (max-width: 575px) {


}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
