.list {
  column-count: auto;
  column-width: 16rem;
    li {
      line-height: 30px;
    }
}

#list-ingredients {
  margin: 50px 0px;
  padding: 30px;
}

#category {
  background-color: #F6F2D9;
  margin-bottom: 30px;
  padding: 20px 50px;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(255,240,173,0.3);
  break-inside: avoid;

}

.category-title {
  border-bottom: 2px solid green;
  margin-bottom: 10px;
  margin-left: -30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item {
  display: flex;

  &:hover .item-delete {
    color: #c64756;
  }
  .item-delete {
    color: #F4DB98;
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
  }
}


/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  .list {
    column-count: 2;
  }

}

