.list {
  column-count: 3;
    li {
      line-height: 30px;
    }
}

#list-ingredients {
  margin: 50px 0px;
}

.item {
  display: flex;

  &:hover .item-delete {
    color: #c64756;
  }
  .item-delete {
    color: #DAD9D6;
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
  }
}



/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  .list {
    column-count: 2;
  }

}
