#recipe-title {
  width: 700px;
  border-bottom: 2px solid grey;
  margin-bottom: 80px;
  padding-bottom: 10px;
}

.recipe-show {
  margin: 50px auto;
  display: flex;
  background-color: white;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 0px bottom;
  margin-bottom: 70px;
  min-height: 250px;
  max-height: 350px;
}

#recipe-show-text {
  background-color: white;
  width: 70%;
  clip-path: polygon( 0% 0%, 100% 0%, 93% 100%, 0% 100%);
    h3 {
      margin-bottom: 20px;
    }
}

#recipe-instructions {
  margin-bottom: 80px;
  line-height: 30px;
    h3 {
      margin-bottom: 20px;
    }
}

.ingredients {
  display: flex;
}

.ingredients ul {
  overflow: auto;
}

.ingredients li {
  white-space: nowrap; // stop the wrapping in the first place
  line-height: 30px;
}

.first-column {
  margin-right: 70px;
}

/*landscape phones and smaller*/
@media (max-width: 575px) {
  .recipe-show {
    background-size: 100%;
  }

  #recipe-show-text {
    width: 90%;
  }

}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
  .recipe-show {
    background-size: 80%;
  }

  #recipe-show-text {
    width: 90%;
  }

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {
  .recipe-show {
    background-size: 40%;
  }
  #recipe-show-text {
    width: 80%;
  }
}


/*desktops and bigger*/
@media(min-width: 1026px) {
  .recipe-show {
    background-size: 40%;
  }
}

