#menu-page-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


#number {
  width: 100px;
  height:100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position:absolute;
  margin-top: -40px;
  margin-left: -40px;
  text-align: center;
  h1 {
      font-size: 70px;
      margin-top: 15px;
  }
}


/*landscape phones and smaller*/
@media (max-width: 575px) {
  .our-card-image {
    width: 200px;
  }

}

/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
