#menu-page-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
    h1 {
      margin-bottom: 0px;
    }
}


#number {
  width: 100px;
  height:100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  position: absolute;
  margin-top: -40px;
  margin-left: -30px;
  h2 {
      margin-top: 20px;
  }
}


/*landscape phones and smaller*/
@media (max-width: 575px) {

  #menu-page-title {
    width: 90%;
    flex-flow: row wrap;
      h1 {
        font-size: 40px;
    }
  }

  .our-card {
    flex-flow: row wrap;
  }

  .our-card-body {
    padding: 10px 10px;
    margin: 10px 10px;
    clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .our-card-image {
    width: 300px;
    height: 180px;
    margin: 0px auto;
  }

  #number {
    display: none;
  }
}



/*tablets and bigger*/
@media(min-width: 576px) and (max-width:991px) {
    .our-card {
    flex-flow: row wrap;
  }

}

/*desktops and bigger*/
@media(min-width: 992px) and (max-width:1025px) and (orientation:landscape) {

}

/*desktops and bigger*/
@media(min-width: 1026px) {

}
