<% @week_menus.each do |week_menu| %>



  <h3>Week</h3>
  <div class="d-flex flex-row">

    <% week_menu.menus.each do |menu| %>

        <div class="card p-2" style="width: 14vw;">
            <img class="card-image" src="<%= menu.recipe.img_url %>" alt="Card image cap">
            <div class="card-body">
              <p class="card-title"> <%= menu.recipe.title %></p>
              <%= link_to "See more details", recipe_path(menu.recipe), class: "btn btn-primary"%>
            </div>
        </div>


    <% end %>
  </div>



<% end %>









<p> <strong> showing all recipes which i have in my week_menus (not sorted by weeks yet) </strong></p>

<% @recipes.each do |recipe| %>
  <%= recipe.title %> <br>
<% end %>
