<div class="shopping-list">
  <div class= list_container>
  <h1 style="text-align:center;"><b>Shopping list for week <%= @week_number %></b></h1>
    <ul class="list">
     <% @ingredients.each do |ingredient|%>
    <li><%= ingredient.name %></li>
     <% end %>
    </ul>
  </div>
</div>

