<div class="container">
  <div class="main-container">
    <h1 style="text-align:center"><b>Shopping list for the week <%= @week_number %></b></h1>
    <div id="ingredient-cards">
    <ul class="list" id="list-ingredients">
      <% @shopping_list.each do |category|%>
        <% next if category[:items] == [] %>
        <div id="category">
          <div class="category-title">
            <h4><strong><%= category[:name].capitalize %></strong></h4>
            <i class="fas fa-shopping-bag" style="color: black; font-size: 15px; margin-bottom: 0px"></i>
          </div>
          <% category[:items].each do |item| %>
          <div class="item">
            <li><%= item.ingredient.name.capitalize %></li>
            <%= link_to raw("<i class='fas fa-times item-delete'></i>"), shopping_list_path(item), method: :delete %>
          </div>
        <% end %>
      </div>
    <% end %>

    </ul>
    </div>
  </div>
</div>


