<div id="faq-container">
  <h4 class="title">Frequently asked questions</h4>
</div>

<div class="first_container">
  <div class="first_box"></div>
    <div class="content">
      <div style="height:100px;background:green;">
        <p><b>How to organise you meal plan</b></p>
        <p class="sub-title">Sub-Title</p>
        <div class="img"><img src=" " align="right"></div>
      </div>
    </div>
</div>

<div class="second_container">
  <div class="second_box"></div>
    <div class="content">
      <div style="height:100px;background:pink;">
        <p class="title"><b>How to generate personalise menu</b></p>
        <p class="sub-title">Sub-Title</p>
      <div class="img"><img src=" " align="left"></div>
    </div>
  </div>
</div>

<div class="third_container">
  <div class="third_box"></div>
    <div class="content">
      <div style="height:100px;background:violet;">
        <p class="title"><b>Register on Menuet</b></p>
        <p class="sub-title">Sub-Title</p>
      <div class="img"><img src=" " align="right"></div>
    </div>
  </div>
</div>



