<div class="container">
  <div class="main-container">
    <div class="faq-container">
      <h1 style="text-align: center">Frequently Asked questions</h1>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
          </div>
          <div class="container-image">
          </div>
        </div>

        <h3>How to add the recipes in weekly plan</h3>

        <div class="faq-flex-container">
          <div class="container-image">
          </div>
          <div class="container-recipe">
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
          </div>
        </div>

        <h3>How to add the recipes in weekly plan</h3>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
          </div>
          <div class="container-image">
          </div>
        </div>

    </div>
  </div>
</div>


