<div class="container">
  <div class="main-container">
    <div class="faq-container">
      <h1 style="text-align: center">How it works</h1>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <p> Our goal is to provide you with curated flow of recipes and help you to live more sustainable
             lifestyle by adopting a meal planning habit and streamline your daily meal. You can choose the meals
             which most appleal to you from variety of recipes and add it in you weekly plan when singup
             on Menuet. We hope to inspire you to make small changes in you everyday life and eliminate the meal
             planning overwhelm with a simple and organized weekly plan.
           </p>

          </div>
          <div class="container-image">
            <%= image_tag "menu1.jpg", :style => "width:100%; height:200px;" %>
          </div>
        </div>

        <h3>Want to make diffrence in lifestyle but don't know where to start?</h3>

        <div class="faq-flex-container">
          <div class="container-image">
            <%= image_tag "menu1.jpg", :style => "width:100%; height:200px;" %>
          </div>
          <div class="container-recipe">
            <ul>
              <li> Signup for free on Menuet to access all the recipes.</li>
              <li> You simply head over to login with email and pssword. </li>
              <li> Search your favorite recipe by your preferred ingredient.</li>
              <li> choose a meal from variety of recipes that most appleals to you. </li>
              <li> Save the menu.</li>
              <li> Once you save the menu you will have access to you weekly plan.</li>
            </ul>
          </div>
        </div>

        <h3>Ready to build your personalized meal plan?</h3>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <p>Once you save the menu you will have access to you current and pevious week plans. You add recipes and delete it </p>
            <p> How to organise a meal plan</p>
            <p> How to organise a meal plan</p>
          </div>
          <div class="container-image">
            <%= image_tag "menu1.jpg", :style => "width:100%; height:200px;" %>
          </div>
        </div>

    </div>
  </div>
</div>


