<div class="container">
  <div class="main-container">
    <div class="faq-container">
      <div class=flex-container>
        <div class="col-md-6 container-recipe">
          <p> How to organise a meal plan</p>
        </div>
        <div class="col-md-6 image-recipe">
          <%= image_tag "menu1.jpg", :style => "width:30%; border-radius:5px; margin:10px;" %>
        </div>
      </div>

      <div>How to add the recipes in weekly plan</div>

      <div class=flex-container>
        <div class="col-md-6 image-recipe">
          <%= image_tag "menu1.jpg", :style => "width:30%; border-radius:5px; margin:10px;" %>
        </div>
        <div class="col-md-6 container-recipe">
          <p> How to organise a meal plan</p>
         </div>
      </div>

      <div>How to add the recipes in weekly plan</div>

      <div class=flex-container>
        <div class="col-md-6 container-recipe">
          <p> How to organise a meal plan</p>
        </div>
        <div class="col-md-6 image-recipe">
          <%= image_tag "menu1.jpg", :style => "width:30%; border-radius:5px; margin:10px;" %>
        </div>
      </div>
    </div>
  </div>
</div>


