<div class="container">
  <div class="main-container">
    <div class="faq-container">
      <h1 style="text-align: center">Why Menuet?</h1>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <h3><strong>A curated selection of recipes to help you live a more sustainable lifestyle</strong></h3>
            <p> Our goal is to help you shape a meal planning habit and streamline your daily meal. We hope to <strong>inspire you</strong> to make small changes in your everyday life and <strong>eliminate the meal
             planning overwhelm</strong> with a simple and organized weekly plan.</p>
          </div>
          <div class="container-image_one">
          </div>
        </div>

        <div class="faq-flex-container">
          <div class="container-image_two">

          </div>
          <div class="container-recipe">
            <h4><strong>Sign up</strong></h4>
            <ul>
              <li> <strong><%= link_to "Signup for free", new_user_session_path, class: 'link-recipes' %></strong> on Menuet to access all the recipes.</li>
              <li> <strong>Create a meal plan</strong> by searching with your preferred ingredient.</li>
              <li> <strong>Save the menu.</strong></li>
            </ul>
          </div>
        </div>

        <div class="faq-flex-container">
          <div class="container-recipe">
            <h4><strong>How to organise a meal plan</strong></h4>
            <ul>
              <li> Once you save the menu you will have <strong>access to your weekly plans.</strong></li>
              <li>You can choose the meal which most appeals to you from variety of recipes and <strong>create a new, personalized weekly plan.</strong></li>
            </ul>
          </div>
          <div class="container-image_three">
          </div>
        </div>
        <h2 style="margin-bottom: 60px; text-align: center">Share with your loved ones and enjoy!</h2>
    </div>
  </div>
</div>


