<div class="menu-container">
  <h1>Welcome</h1>
  <p><strong>This is a menu planer that allow you to create a weekly menu plan with existing recipes.</strong></p>
  <%= link_to "Weekly Menu plan ",weekly_menu_path, class: "btn btn-lg btn-info mt-3" %>
</div>
