  <div class="banner" style="background-image: url(<%= asset_path('banner.jpg') %>)">
    <div id="banner-text">
      <div class="container">
        <div id="banner-inner-text">
          <h1>Stop worrying about your meals</h1>
          <h1>It takes one click</h1>
          <%= link_to "Weekly Menu plan ",weekly_menu_path, class: "btn btn-lg btn-info mt-3" %>
        </div>
      </div>
    </div>
  </div>


