.our-card {
  width: 100%;
  margin: 60px 0px;
  padding-bottom: 60px;
  border-bottom: 2px solid #184d47;
  display: flex;
  // to be able to position recipe-shuffel button absolute
  position: relative;
}

.our-card-body {
  padding: 0px 70px;
  background-color: white;
  margin-left: -40px;
  line-height: 30px;
  clip-path: polygon( 5% 0%, 100% 0%, 100% 100%, 0% 100%);

    h3 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

.our-card-image {
  width: 600px;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-card-title {
  margin: 30px 0px;
  height: 73px;
  overflow: scroll;
}

.our-card-author {
  margin-bottom: 10px;
  height: 90px;
  overflow: scroll;
}

.our-card-text {
  height: 90px;
  overflow: scroll;
  margin-bottom: 20px;
}



// cards for the my menu page

#one-menu {
  margin: 60px 0px;
  h3 {
    margin: 1px;
  }
}


#card-lists {
  display: flex;
  flex-flow: row wrap;
}


#recipe-card {
  margin-top: 10px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.recipe-card-pic {
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-card-body {
  padding: 5px;

}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.underline {
  width: 130px;
  border-bottom: 2px solid #184d47;
  margin-bottom: 20px;
  display: inline;
}

.list {
  column-count: 3;
}

