.our-card {
  margin: 40px 0px;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid darkgrey;
}

.our-card-body {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

// cards for the my menu page

#one-menu {
  margin: 60px 0px;
  h3 {
    margin: 1px;
  }
}


#card-lists {
  display: flex;
  flex-flow: row wrap;
}


#recipe-card {
  margin-top: 10px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.recipe-card-pic {
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-card-body {
  padding: 5px;

}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.underline {
  width: 130px;
  border-bottom: 2px solid green;
  margin-bottom: 20px;
}

