.recipe-cards {
  margin-top: 50px;
}

.our-card {
  margin: 40px 0px;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid darkgrey;
}

.our-card-body {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
