.our-card {
  margin: 40px 0px;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid darkgrey;
}

.our-card-body {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

// cards for the my menu page

#one-menu {
  width: 80%;
}

#card-lists {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}


#bookmark {
  margin-top: 10px;
  width: 150px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
}

.card-pic {
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

#sidebar {
  width: 15%;
  height: 300px;
  background-color: red;
}

#wrapping-sidebar {
  display: flex;
  justify-content: space-around;
}

