#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;
}

.main-container {
  margin-top: 50px;
}

#weeks-container {
  margin: 0px 30px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

