.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 20%;
}

.nav-link {
  line-height: 25px;
}

@media (max-width: 575px) {
  .navbar-lewagon .navbar-brand img {
    width: 60px;
    margin-left: 20%;
  }
  }

.current-page {
  font-weight: 900;
  border-bottom: 4px solid #c64756;

}
